@import '../../styles/Styles.module.scss';

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0;
  padding: 5px;

  @media screen and (max-width: 600px) {
    font-size: 20px;
    margin: 0;
    padding: 2px;
  }
}

.on {
  color: $third_color;
}
.off {
  color: rgba($color: #fff, $alpha: 0.2)
}

.team__data{
  width: 50%;
  text-align: center;
  font-size: 35px;
  color: $third_color;
  font-family: 'Bebas Neue', cursive;

}
