@import '../../styles/Styles.module.scss';

.flag{
  width: 100%;
  max-width: 150px;
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: right;
  border-radius: 70px;
  box-shadow: 5px 5px 6px rgba($color: #000000, $alpha: 0.2);

  @media screen and (max-width: 600px) {
    max-width: 120px;
    min-height: 80px;
  }
}

.flag__div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}