.title{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  min-width: 100px;
  text-transform: uppercase;

  @media screen and (max-width: 900px) {
    min-width: 50px;
    font-size: 10px;
  }
}