.container{
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 50px;

  @media screen and (max-width: 600px) {
    margin-top: 20px;
  }
}

.team__container{
  width: 100%;
}

.team__content{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 90%;
    margin: auto;
  }
}

.team__separador{
  width: 100%;
  max-width: 900px;
  border-color: rgba($color: #fff, $alpha: 0.3);
}
