@import '../styles/Styles.module.scss';

.sectionSelect {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    height: auto;
  }

}


.selectOptions {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  border: none;
  flex-direction: row;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  margin-bottom: 20px;
  width: 11%;
  background: none;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    margin-bottom: 10px;
    width: 20%;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    margin-bottom: 10px;
    width: 14%;
  }

  
}



.selectTeam:hover {
  border: 4px solid $third-color;
  transform: scale(1.2);
  transition: transform 2s;
  margin-bottom: 1px;
}

.selectTeam {
  cursor: pointer;
  display: flex;
  margin: auto;
  width: 90px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;

  @media screen and (max-width: 600px) {
    width: 70px;
    height: 40px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 80px;
    height: 45px;
  }
}


.selectTeam--active {
  border: 4px solid $third-color;
  transform: scale(1.2);
  transition: transform 2s;
}

.title {
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 600px) {
    font-size: 7px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.iconClose {
  margin: 1px;
  color: rgba($color: #fff, $alpha: 0.5);
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: drop-shadow(3px 3px 7px rgba(72, 72, 72, 0.4));
}

.iconCloseDiv {
  width: 32px;
  height: 32px;
  position: absolute;
  left: calc(50% - 16px);
  text-align: center;
  border-radius: 50px;
  margin-top: 110px;
  padding: 0;

  @media screen and (max-width: 600px) {
    margin-top: 65px;
  }
}