@import '../../styles/Styles.module.scss';

.scoreBoard{
  width: 70px;
  background-color: rgba($color: $third-color, $alpha: 1);
  font-size: 50px;
  animation: scoreb 2s steps(180, end) backwards;
  animation-delay: 3s;
  border-radius: 15px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  padding: 10px;

  @media screen and (max-width: 600px) {
    width: 40px;
    font-size: 35px;
  }
}


@keyframes scoreb {
  from { visibility: hidden;}
  to { visibility: visible; }
  }